<card cardTitle="Change Password">
  <div class="form-group">
    <label class="control-label">Current Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Current Password Input"
      [formControl]="password"
    />
    <label class="control-label">New Password</label>
    <input
      type="password"
      class="form-control"
      [formControl]="new_password"
      placeholder="New Password Input"
    />
    <label class="control-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Confirm Password Input"
    />
  </div>

  <button class="btn btn-success" (click)="submit()">Submit</button>
  <button class="btn btn-warning" [routerLink]="['/admin-dashboard/index']">
    Cancel
  </button>
</card>
