<div class="mas-item mas-big">
  <a href="javascript:void(0);"
    ><figure>
      <img src="assets/images/3.jpg" class="img-responsive" alt="" /></figure
  ></a>
  <div class="mas-text">
    <div class="post-cat"><a href="javascript:void(0);">Trending Post</a></div>
    <h2 class="mas-title">
      <a href="javascript:void(0);"
        >It is a long <em>established</em> fact that a reader will be distracted
        by the readable content</a
      >
    </h2>
    <div class="mas-details">
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour
      </p>
      <a href="javascript:void(0);" class="read-more">Read More &#8702;</a>
    </div>
  </div>
</div>
